In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
data = pd.read_csv('masterCSVfmfull.csv')
data.columns

Index(['sex', 'country', 'year', 'age', 'generation', 'suicides_no',
       'population', 'suicides/100k pop', 'HDI for year', 'gdp_for_year ($) ',
       'gdp_per_capita ($)'],
      dtype='object')

In [6]:
data

,sex,country,year,age,generation,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($)
0,female,Albania,1985,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,female,Albania,1985,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,female,Albania,1985,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,female,Albania,1985,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,female,Albania,1985,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,female,Albania,1985,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,female,Albania,1986,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,female,Albania,1986,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,female,Albania,1986,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,female,Albania,1986,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,female,Albania,1986,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,female,Albania,1986,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,female,Albania,1987,15-24 years,Generation X,14.0,289700.0,4.83,NaN,2.156625e+09,796.0
13,female,Albania,1987,25-34 years,Boomers,4.0,257200.0,1.56,NaN,2.156625e+09,796.0
14,female,Albania,1987,35-54 years,Silent,6.0,278800.0,2.15,NaN,2.156625e+09,796.0
15,female,Albania,1987,5-14 years,Generation X,0.0,311000.0,0.00,NaN,2.156625e+09,796.0
16,female,Albania,1987,55-74 years,G.I. Generation,0.0,144600.0,0.00,NaN,2.156625e+09,796.0
17,female,Albania,1987,75+ years,G.I. Generation,1.0,35600.0,2.81,NaN,2.156625e+09,796.0
18,female,Albania,1988,15-24 years,Generation X,8.0,295600.0,2.71,NaN,2.126000e+09,769.0
19,female,Albania,1988,25-34 years,Boomers,5.0,262400.0,1.91,NaN,2.126000e+09,769.0
20,female,Albania,1988,35-54 years,Silent,4.0,284500.0,1.41,NaN,2.126000e+09,769.0
21,female,Albania,1988,5-14 years,Generation X,0.0,317200.0,0.00,NaN,2.126000e+09,769.0
22,female,Albania,1988,55-74 years,G.I. Generation,3.0,147500.0,2.03,NaN,2.126000e+09,769.0
23,female,Albania,1988,75+ years,G.I. Generation,2.0,36400.0,5.49,NaN,2.126000e+09,769.0
24,female,Albania,1989,15-24 years,Generation X,5.0,299900.0,1.67,NaN,2.335125e+09,833.0
25,female,Albania,1989,25-34 years,Boomers,2.0,266300.0,0.75,NaN,2.335125e+09,833.0
26,female,Albania,1989,35-54 years,Silent,7.0,288600.0,2.43,NaN,2.335125e+09,833.0
27,female,Albania,1989,5-14 years,Generation X,0.0,321900.0,0.00,NaN,2.335125e+09,833.0
28,female,Albania,1989,55-74 years,G.I. Generation,1.0,149600.0,0.67,NaN,2.335125e+09,833.0
29,female,Albania,1989,75+ years,G.I. Generation,0.0,37000.0,0.00,NaN,2.335125e+09,833.0
...,...,...,...,...,...,...,...,...,...,...,...
38754,male,Uzbekistan,2012,15-24 years,Millenials,311.0,3199204.0,9.72,668.0,5.182157e+10,1964.0
38755,male,Uzbekistan,2012,25-34 years,Millenials,290.0,2548472.0,11.38,668.0,5.182157e+10,1964.0
38756,male,Uzbekistan,2012,35-54 years,Generation X,404.0,3273281.0,12.34,668.0,5.182157e+10,1964.0
38757,male,Uzbekistan,2012,5-14 years,Generation Z,67.0,2701361.0,2.48,668.0,5.182157e+10,1964.0
38758,male,Uzbekistan,2012,55-74 years,Boomers,133.0,1141487.0,11.65,668.0,5.182157e+10,1964.0
38759,male,Uzbekistan,2012,75+ years,Silent,15.0,213713.0,7.02,668.0,5.182157e+10,1964.0
38760,male,Uzbekistan,2013,15-24 years,Millenials,320.0,3171202.0,10.09,672.0,5.769045e+10,2150.0
38761,male,Uzbekistan,2013,25-34 years,Millenials,328.0,2644648.0,12.40,672.0,5.769045e+10,2150.0
38762,male,Uzbekistan,2013,35-54 years,Generation X,481.0,3346411.0,14.37,672.0,5.769045e+10,2150.0
38763,male,Uzbekistan,2013,5-14 years,Generation Z,61.0,2720938.0,2.24,672.0,5.769045e+10,2150.0
38764,male,Uzbekistan,2013,55-74 years,Boomers,119.0,1202790.0,9.89,672.0,5.769045e+10,2150.0
38765,male,Uzbekistan,2013,75+ years,Silent,13.0,221002.0,5.88,672.0,5.769045e+10,2150.0
38766,male,Uzbekistan,2014,15-24 years,Millenials,347.0,3126905.0,11.10,675.0,6.306708e+10,2309.0
38767,male,Uzbekistan,2014,25-34 years,Millenials,318.0,2739150.0,11.61,675.0,6.306708e+10,2309.0
38768,male,Uzbekistan,2014,35-54 years,Generation X,519.0,3421300.0,15.17,675.0,6.306708e+10,2309.0
38769,male,Uzbekistan,2014,5-14 years,Generation Z,60.0,2762158.0,2.17,675.0,6.306708e+10,2309.0
38770,male,Uzbekistan,2014,55-74 years,Boomers,144.0,1271111.0,11.33,675.0,6.306708e+10,2309.0
38771,male,Uzbekistan,2014,75+ years,Silent,17.0,224995.0,7.56,675.0,6.306708e+10,2309.0
38772,male,Uzbekistan,2015,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38773,male,Uzbekistan,2015,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38774,male,Uzbekistan,2015,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38775,male,Uzbekistan,2015,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38776,male,Uzbekistan,2015,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38777,male,Uzbekistan,2015,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38778,male,Uzbekistan,2016,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38779,male,Uzbekistan,2016,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38780,male,Uzbekistan,2016,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38781,male,Uzbekistan,2016,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38782,male,Uzbekistan,2016,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38783,male,Uzbekistan,2016,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
eu = pd.read_csv('countries europe1.csv')
eu.columns

Index(['EUC'], dtype='object')

In [14]:
eu['EUC']

0             Austria
1             Belgium
2            Bulgaria
3             Croatia
4              Cyprus
5      Czech Republic
6             Denmark
7             Estonia
8             Finland
9              France
10            Germany
11             Greece
12            Hungary
13            Ireland
14              Italy
15             Latvia
16          Lithuania
17         Luxembourg
18              Malta
19        Netherlands
20             Poland
21           Portugal
22            Romania
23    Slovak Republic
24           Slovenia
25              Spain
26             Sweden
27     United Kingdom
Name: EUC, dtype: object

In [24]:
data=data.sort_values(by= 'Albania', ascending=False)

KeyError: 'Albania'

In [13]:
e = data['country'] - (data['country'] - eu['EUC'])
data[e]

TypeError: unsupported operand type(s) for -: 'str' and 'str'