In [69]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [70]:
data = pd.read_csv('masterCSVfmfull.csv')

In [71]:
#data = data.drop(['Unnamed: 0'], axis = 1)

In [72]:
data.columns

Index(['sex', 'country', 'year', 'age', 'generation', 'suicides_no',
       'population', 'suicides/100k pop', 'HDI for year', 'gdp_for_year ($) ',
       'gdp_per_capita ($)'],
      dtype='object')

In [73]:
data

,sex,country,year,age,generation,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($)
0,female,Albania,1985,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,female,Albania,1985,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,female,Albania,1985,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,female,Albania,1985,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,female,Albania,1985,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,female,Albania,1985,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,female,Albania,1986,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,female,Albania,1986,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,female,Albania,1986,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,female,Albania,1986,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,female,Albania,1986,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,female,Albania,1986,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,female,Albania,1987,15-24 years,Generation X,14.0,289700.0,4.83,NaN,2.156625e+09,796.0
13,female,Albania,1987,25-34 years,Boomers,4.0,257200.0,1.56,NaN,2.156625e+09,796.0
14,female,Albania,1987,35-54 years,Silent,6.0,278800.0,2.15,NaN,2.156625e+09,796.0
15,female,Albania,1987,5-14 years,Generation X,0.0,311000.0,0.00,NaN,2.156625e+09,796.0
16,female,Albania,1987,55-74 years,G.I. Generation,0.0,144600.0,0.00,NaN,2.156625e+09,796.0
17,female,Albania,1987,75+ years,G.I. Generation,1.0,35600.0,2.81,NaN,2.156625e+09,796.0
18,female,Albania,1988,15-24 years,Generation X,8.0,295600.0,2.71,NaN,2.126000e+09,769.0
19,female,Albania,1988,25-34 years,Boomers,5.0,262400.0,1.91,NaN,2.126000e+09,769.0
20,female,Albania,1988,35-54 years,Silent,4.0,284500.0,1.41,NaN,2.126000e+09,769.0
21,female,Albania,1988,5-14 years,Generation X,0.0,317200.0,0.00,NaN,2.126000e+09,769.0
22,female,Albania,1988,55-74 years,G.I. Generation,3.0,147500.0,2.03,NaN,2.126000e+09,769.0
23,female,Albania,1988,75+ years,G.I. Generation,2.0,36400.0,5.49,NaN,2.126000e+09,769.0
24,female,Albania,1989,15-24 years,Generation X,5.0,299900.0,1.67,NaN,2.335125e+09,833.0
25,female,Albania,1989,25-34 years,Boomers,2.0,266300.0,0.75,NaN,2.335125e+09,833.0
26,female,Albania,1989,35-54 years,Silent,7.0,288600.0,2.43,NaN,2.335125e+09,833.0
27,female,Albania,1989,5-14 years,Generation X,0.0,321900.0,0.00,NaN,2.335125e+09,833.0
28,female,Albania,1989,55-74 years,G.I. Generation,1.0,149600.0,0.67,NaN,2.335125e+09,833.0
29,female,Albania,1989,75+ years,G.I. Generation,0.0,37000.0,0.00,NaN,2.335125e+09,833.0
...,...,...,...,...,...,...,...,...,...,...,...
38754,male,Uzbekistan,2012,15-24 years,Millenials,311.0,3199204.0,9.72,668.0,5.182157e+10,1964.0
38755,male,Uzbekistan,2012,25-34 years,Millenials,290.0,2548472.0,11.38,668.0,5.182157e+10,1964.0
38756,male,Uzbekistan,2012,35-54 years,Generation X,404.0,3273281.0,12.34,668.0,5.182157e+10,1964.0
38757,male,Uzbekistan,2012,5-14 years,Generation Z,67.0,2701361.0,2.48,668.0,5.182157e+10,1964.0
38758,male,Uzbekistan,2012,55-74 years,Boomers,133.0,1141487.0,11.65,668.0,5.182157e+10,1964.0
38759,male,Uzbekistan,2012,75+ years,Silent,15.0,213713.0,7.02,668.0,5.182157e+10,1964.0
38760,male,Uzbekistan,2013,15-24 years,Millenials,320.0,3171202.0,10.09,672.0,5.769045e+10,2150.0
38761,male,Uzbekistan,2013,25-34 years,Millenials,328.0,2644648.0,12.40,672.0,5.769045e+10,2150.0
38762,male,Uzbekistan,2013,35-54 years,Generation X,481.0,3346411.0,14.37,672.0,5.769045e+10,2150.0
38763,male,Uzbekistan,2013,5-14 years,Generation Z,61.0,2720938.0,2.24,672.0,5.769045e+10,2150.0
38764,male,Uzbekistan,2013,55-74 years,Boomers,119.0,1202790.0,9.89,672.0,5.769045e+10,2150.0
38765,male,Uzbekistan,2013,75+ years,Silent,13.0,221002.0,5.88,672.0,5.769045e+10,2150.0
38766,male,Uzbekistan,2014,15-24 years,Millenials,347.0,3126905.0,11.10,675.0,6.306708e+10,2309.0
38767,male,Uzbekistan,2014,25-34 years,Millenials,318.0,2739150.0,11.61,675.0,6.306708e+10,2309.0
38768,male,Uzbekistan,2014,35-54 years,Generation X,519.0,3421300.0,15.17,675.0,6.306708e+10,2309.0
38769,male,Uzbekistan,2014,5-14 years,Generation Z,60.0,2762158.0,2.17,675.0,6.306708e+10,2309.0
38770,male,Uzbekistan,2014,55-74 years,Boomers,144.0,1271111.0,11.33,675.0,6.306708e+10,2309.0
38771,male,Uzbekistan,2014,75+ years,Silent,17.0,224995.0,7.56,675.0,6.306708e+10,2309.0
38772,male,Uzbekistan,2015,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38773,male,Uzbekistan,2015,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38774,male,Uzbekistan,2015,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38775,male,Uzbekistan,2015,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38776,male,Uzbekistan,2015,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38777,male,Uzbekistan,2015,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38778,male,Uzbekistan,2016,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38779,male,Uzbekistan,2016,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38780,male,Uzbekistan,2016,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38781,male,Uzbekistan,2016,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38782,male,Uzbekistan,2016,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38783,male,Uzbekistan,2016,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
f_cntr = (data['sex'] == 'male')

In [75]:
data.loc[f_cntr, ['sex','country', 'year', 'suicides_no']]

        sex     country  year  suicides_no
19392  male     Albania  1985          NaN
19393  male     Albania  1985          NaN
19394  male     Albania  1985          NaN
19395  male     Albania  1985          NaN
19396  male     Albania  1985          NaN
19397  male     Albania  1985          NaN
19398  male     Albania  1986          NaN
19399  male     Albania  1986          NaN
19400  male     Albania  1986          NaN
19401  male     Albania  1986          NaN
19402  male     Albania  1986          NaN
19403  male     Albania  1986          NaN
19404  male     Albania  1987         21.0
19405  male     Albania  1987          9.0
19406  male     Albania  1987         16.0
19407  male     Albania  1987          0.0
19408  male     Albania  1987          1.0
19409  male     Albania  1987          1.0
19410  male     Albania  1988         17.0
19411  male     Albania  1988          5.0
19412  male     Albania  1988         14.0
19413  male     Albania  1988          0.0
19414  male     Albania  1988          4.0
19415  male     Albania  1988          1.0
19416  male     Albania  1989         12.0
19417  male     Albania  1989         18.0
19418  male     Albania  1989         15.0
19419  male     Albania  1989          0.0
19420  male     Albania  1989          6.0
19421  male     Albania  1989          2.0
...     ...         ...   ...          ...
38754  male  Uzbekistan  2012        311.0
38755  male  Uzbekistan  2012        290.0
38756  male  Uzbekistan  2012        404.0
38757  male  Uzbekistan  2012         67.0
38758  male  Uzbekistan  2012        133.0
38759  male  Uzbekistan  2012         15.0
38760  male  Uzbekistan  2013        320.0
38761  male  Uzbekistan  2013        328.0
38762  male  Uzbekistan  2013        481.0
38763  male  Uzbekistan  2013         61.0
38764  male  Uzbekistan  2013        119.0
38765  male  Uzbekistan  2013         13.0
38766  male  Uzbekistan  2014        347.0
38767  male  Uzbekistan  2014        318.0
38768  male  Uzbekistan  2014        519.0
38769  male  Uzbekistan  2014         60.0
38770  male  Uzbekistan  2014        144.0
38771  male  Uzbekistan  2014         17.0
38772  male  Uzbekistan  2015          NaN
38773  male  Uzbekistan  2015          NaN
38774  male  Uzbekistan  2015          NaN
38775  male  Uzbekistan  2015          NaN
38776  male  Uzbekistan  2015          NaN
38777  male  Uzbekistan  2015          NaN
38778  male  Uzbekistan  2016          NaN
38779  male  Uzbekistan  2016          NaN
38780  male  Uzbekistan  2016          NaN
38781  male  Uzbekistan  2016          NaN
38782  male  Uzbekistan  2016          NaN
38783  male  Uzbekistan  2016          NaN

[19392 rows x 4 columns]

In [76]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1985)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

83584.0

In [77]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1986)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

86818.0

In [78]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1987)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

91836.0

In [79]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1988)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

88011.0

In [80]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1989)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

118883.0

In [81]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1990)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

143243.0

In [82]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1991)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

148398.0

In [83]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1992)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

159906.0

In [84]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1993)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

170234.0

In [85]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1994)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

180531.0

In [86]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1995)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

189040.0

In [87]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1996)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

192142.0

In [88]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1997)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

186619.0

In [89]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1998)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

193960.0

In [90]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 1999)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

199904.0

In [91]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2000)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

200578.0

In [92]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2001)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

197653.0

In [93]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2002)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

200546.0

In [94]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2003)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

200452.0

In [95]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2004)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

187629.0

In [96]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2005)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

182340.0

In [97]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2006)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

181322.0

In [98]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2007)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

180084.0

In [99]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2008)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

181474.0

In [100]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2009)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

188567.0

In [101]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2010)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

184480.0

In [102]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2011)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

181868.0

In [103]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2012)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

177149.0

In [104]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2013)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

171740.0

In [105]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2014)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

171428.0

In [106]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2015)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

156392.0

In [107]:
f_yvsn = (data['sex'] == 'male') & (data['year'] == 2016)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

12099.0