In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [4]:
data = pd.read_csv('masterCSVfmfull.csv')

In [23]:
agg_gpd_suno = data.groupby('gdp_per_capita ($)')['suicides/100k pop'].agg(['sum', 'mean', 'count'])
agg_gpd_suno = agg_gpd_suno.reset_index()

In [24]:
#ftl1= (agg_pop['year'] != 2016)
#agg_pop = agg_pop.loc[ftl1, ['gdp_per_capita ($)', 'sum', 'mean','count']]

In [7]:
agg_gpd_suno

      gdp_per_capita ($)     sum       mean  count
0                  251.0   18.00   1.500000     12
1                  291.0  191.44  15.953333     12
2                  313.0  182.63  15.219167     12
3                  345.0  193.30  16.108333     12
4                  357.0   51.05   4.254167     12
5                  359.0  173.11  14.425833     12
6                  385.0   40.86   3.405000     12
7                  387.0   66.73   5.560833     12
8                  398.0  184.94  15.411667     12
9                  424.0  137.86  11.488333     12
10                 425.0  239.77  19.980833     12
11                 426.0   51.79   4.315833     12
12                 428.0   95.28   7.940000     12
13                 431.0  558.72  46.560000     12
14                 435.0  190.85  15.904167     12
15                 437.0  286.87  11.952917     24
16                 441.0   82.06   6.838333     12
17                 454.0  529.80  44.150000     12
18                 458.0   37.05   3.087500     12
19                 459.0  206.54  17.211667     12
20                 462.0   14.28   1.190000     12
21                 465.0   32.23   2.685833     12
22                 476.0   17.83   1.485833     12
23                 484.0  141.33  11.777500     12
24                 508.0   12.04   1.003333     12
25                 513.0  115.92   9.660000     12
26                 514.0  232.84  19.403333     12
27                 515.0   24.68   2.056667     12
28                 516.0   68.04   5.670000     12
29                 528.0  258.79  21.565833     12
...                  ...     ...        ...    ...
2203             84442.0  131.78  10.981667     12
2204             85394.0  145.74  12.145000     12
2205             85397.0  159.07  13.255833     12
2206             86068.0  164.66  13.721667     12
2207             87951.0  165.39  13.782500     12
2208             87961.0   13.55   1.129167     12
2209             89634.0  170.26  14.188333     12
2210             90490.0   18.85   1.570833     12
2211             90797.0  127.77  10.647500     12
2212             90809.0  162.10  13.508333     12
2213             91587.0   18.99   1.582500     12
2214             93053.0  168.22  14.018333     12
2215             93066.0    8.23   0.685833     12
2216             93270.0   13.27   1.105833     12
2217             93638.0  136.43  11.369167     12
2218             95351.0  183.79  15.315833     12
2219            103431.0  132.03  11.002500     12
2220            103443.0  127.23  10.602500     12
2221            107430.0  146.49  12.207500     12
2222            107456.0  134.40  11.200000     12
2223            108408.0  126.00  10.500000     12
2224            109483.0  110.95   9.245833     12
2225            109804.0  127.01  10.584167     12
2226            111328.0  141.16  11.763333     12
2227            112581.0  183.89  15.324167     12
2228            113120.0  140.18  11.681667     12
2229            120423.0   91.48   7.623333     12
2230            121315.0  112.31   9.359167     12
2231            122729.0  136.53  11.377500     12
2232            126352.0  147.88  12.323333     12

[2233 rows x 4 columns]

In [8]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 0) & (agg_gpd_suno['gdp_per_capita ($)'] <= 12000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

157.19311111111082

In [9]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 12000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 24000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

167.52971084337358

In [10]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 24000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 36000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

164.94772241992877

In [11]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 36000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 48000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

161.09680851063828

In [12]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 48000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 60000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

165.15271844660194

In [13]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 60000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 72000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

126.50088235294119

In [14]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 72000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 84000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

143.35785714285717

In [15]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 84000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 96000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

111.75625

In [16]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 96000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 108000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

135.0375

In [17]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 108000) & (agg_gpd_suno['gdp_per_capita ($)'] <= 120000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

138.19833333333335

In [18]:
flt = (agg_gpd_suno['gdp_per_capita ($)'] > 120000)
fltrtd =agg_gpd_suno.loc[flt, ['gdp_per_capita ($)', 'sum']]
fltrtd['sum'].mean()

122.05000000000001

In [19]:
data['gdp_per_capita ($)'].max()

126352.0

In [20]:
data['gdp_per_capita ($)'].min()

251.0

In [21]:
data.columns

Index(['sex', 'country', 'year', 'age', 'generation', 'suicides_no',
       'population', 'suicides/100k pop', 'HDI for year', 'gdp_for_year ($) ',
       'gdp_per_capita ($)'],
      dtype='object')